body {
  padding-top: 50px;
  background-color: #eee;
}

.navbar {
  background-color: #eee;
  border-bottom: 0px solid black;
}

.navbar li {
  display: inline-block;
}

.navbar-default .navbar-brand {
  color: #dc5b21;
  font-weight: strong;
}

.container {
  width: 80%;
}

.info {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left:10%;
  padding-right:10%;
  text-align: center;
  overflow: hidden;
}

.info div, .info .screenshot {
  float: right;
}

.info h2, .info p {
  text-align: center;
  padding: 25px;
}

.info ol {
  text-align: left;
  font-size: 14pt;
  margin: 25px;
}

.info div {
  width: 75%;
}

.info .screenshot {
  width: 25%;
}


.info h2 {
  font-size: 48pt;
}

.info p {
  font-size: 18pt;
}

.inner {
  text-align: left;
}

.inner ul {
  margin-left: auto;
  margin-right: auto;
}

.inner li {
  display: inline;
  margin-right: 20px;
}