body {
  color: white;
  background-color: #999999;
  max-width: 800px;
  font-weight: 100;
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

h1, h2, h4 {
  font-weight: 200;
}

div {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 3px solid #777;
  border-radius: 1.5em;
  box-shadow: 0px 0px 10px #fff;
}

.alice {
  background-color: green;
}

.jessica-li {
  background-color: black;
}

.josue-rios {
  background-color: #B00000;
}

.junhao {
  background-color: #6e77fa;
}

.kaleo-brandt {
  background-color: teal;
}

.michelle-cho {
  background-color: #E38100;
}

.tad {
  background-color: purple;
}

.thao-nguyen-dang {
  background-color: #DE00DA;
}
