body {
  /*background-color: #dc5b21;*/
  /*background-color: rgb(3, 42, 116);*/
  /*color: white;*/
  background-color: white;
}


.row .col-md-4 .inner, .row .col-xs-12 .inner {
  background-color: #eee;
  margin: 5px;
  padding: 25px;
  border: 3px solid teal;
  border-radius: 1.5em;
  box-shadow: 5px 5px 5px #fff;
}

h1 {
  color: #dc5b21;
  font-weight: strong;
}

h1, h3 {
  text-align: center;
}

h2, h3, h4 {
  font-weight: 100;
  letter-spacing: 0.05em;
  color: teal;
}

ul {
  list-style-type: none;
}

.jumbotron {
  text-align: center;
}
